<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=UTF-8' />
    <title><%= app_name.gsub(/"/, '') %> - A Ruby on Rails Application</title>
    <%%= render :partial => 'layouts/includes' %>
  </head>
  <body>
    <div class="container">
      <div id="masthead" class="prepend-1 append-1">
        <h1><%= app_name.gsub(/"/, '') %></h1>
      </div>
      <div id="nav" class="prepend-1 append-1"></div>
      <div id="flashes"><%%= render :partial => 'layouts/flashes' %></div>
      <div id="content" class="prepend-1 append-1">
        <%%= yield %>
      </div>
    </div>
  </body>
</html>